@font-face {
	font-family: "GothamProRegular";
	src: url("assets/fonts/GothamPro/GothamProRegular.eot");
	src: url("assets/fonts/GothamPro/GothamProRegular.eot?#iefix")format("embedded-opentype"),
	url("assets/fonts/GothamPro/GothamProRegular.woff") format("woff"),
	url("assets/fonts/GothamPro/GothamProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: "GothamProMedium";
	src: url("assets/fonts/GothamPro/GothamProMedium.eot");
	src: url("assets/fonts/GothamPro/GothamProMedium.eot?#iefix")format("embedded-opentype"),
	url("assets/fonts/GothamPro/GothamProMedium.woff") format("woff"),
	url("assets/fonts/GothamPro/GothamProMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: "GothamProBold";
	src: url("assets/fonts/GothamPro/GothamProBold.eot");
	src: url("assets/fonts/GothamPro/GothamProBold.eot?#iefix")format("embedded-opentype"),
	url("assets/fonts/GothamPro/GothamProBold.woff") format("woff"),
	url("assets/fonts/GothamPro/GothamProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: "GothamProBlack";
	src: url("assets/fonts/GothamPro/GothamProBlack.eot");
	src: url("assets/fonts/GothamPro/GothamProBlack.eot?#iefix")format("embedded-opentype"),
	url("assets/fonts/GothamPro/GothamProBlack.woff") format("woff"),
	url("assets/fonts/GothamPro/GothamProBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: "GothamProItalic";
	src: url("assets/fonts/GothamPro/GothamProItalic.eot");
	src: url("assets/fonts/GothamPro/GothamProItalic.eot?#iefix")format("embedded-opentype"),
	url("assets/fonts/GothamPro/GothamProItalic.woff") format("woff"),
	url("assets/fonts/GothamPro/GothamProItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: "FuturaRegular";
	src: url("assets/fonts/Futura/FuturaRegular.eot");
	src: url("assets/fonts/Futura/FuturaRegular.eot?#iefix")format("embedded-opentype"),
	url("assets/fonts/Futura/FuturaRegular.woff") format("woff"),
	url("assets/fonts/Futura/FuturaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: "FuturaBold";
	src: url("assets/fonts/Futura/FuturaBold.eot");
	src: url("assets/fonts/Futura/FuturaBold.eot?#iefix")format("embedded-opentype"),
	url("assets/fonts/Futura/FuturaBold.woff") format("woff"),
	url("assets/fonts/Futura/FuturaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}