.gallery{
	margin: 15px 0;
	display: flex;
	flex-wrap: wrap;

	.gallery-item{
		width: 25%;
		margin: 0;
		@media(max-width: $screen-sm - $screen-diff){
			width: 33%;
		}

		img{
			padding: 5px;
		}
	}
}