.list_of_posts{

	h1, h2, h3, h4, h5, h6{
		font-family: $font-family-bold;
		line-height: 27px;
		margin: 0 0 8px;
	}

	ul{
		list-style: disc;
		margin-left: 1.25rem;
		margin-bottom: 1rem;
	}

	p{
		line-height: 24px;
		color: $gray-dark;
		@media(max-width: $screen-md - $screen-diff){
			font-size: 15px;
		}

		a{
			text-decoration: underline;
		}
	}

	a{
		font-family: $font-family-medium;
	}

	iframe{
		margin-top: 20px;
		width: 100%;
	}

	.entry-meta{
		font-family: $font-family-futura-base;
		font-size: 18px;
		letter-spacing: -1.2px;
		color: $gray;
		display: block;
	}

	.label.secondary{
		background: #e9e9e9;
		color: #0a0a0a;
		font-size: .8rem;
		padding: .3rem .5rem;
	}

	.wp-caption{
		padding: 5px 5px 10px;
		border: 1px solid #f0f0f0;
		background: $white;
		text-align: center;
		float: none;
		display: inline-block;
		vertical-align: top;
		margin: 10px;

		.wp-caption-text{
			font-size: 16px;
			font-style: normal;
			line-height: 22px;
			letter-spacing: -0.5px;
			margin-top: 10px;
			@media(max-width: $screen-sm - $screen-diff){
				letter-spacing: 0;
			}
		}
	}

	.pum-trigger{
		margin-top: 20px;
	}

}