body {
	font-family: $font-family-base;
}
h1, h2, h3, h4, h5, h6{
	font-family: $font-family-medium;
}
.bold{
	font-family: $font-family-bold;
}
.black{
	font-family: $font-family-black;
}
.italic{
	font-family: $font-family-italic;
}
.futura{
	font-family: $font-family-futura-base;
}
.futura-bold{
	font-family: $font-family-futura-bold;
}